@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id=john-container>
	<div class="squares squares-one background background-one" id=div-one></div>
	<div class="squares squares-one start centre" id="div-two">START</div>
	<div class="squares squares-one zero" id=div-three></div>
</div>
<div id="menu-hover"></div>
<div id="menu-container">
	<div class="menu menu-opt menu-hidden" id="one">1</div>
	<div class="menu menu-opt menu-hidden" id="two">2</div>
	<div class="menu menu-opt menu-hidden" id="three">3</div>
	<div class="menu menu-opt menu-hidden" id="four">4</div>
	<div class="menu menu-opt menu-hidden" id="five">5</div>
	<div class="menu menu-opt menu-hidden" id="six">6</div>
	<!--<div class="menu menu-opt menu-hidden" id="seven">7</div>
	<div class="menu menu-opt menu-hidden" id="eight">8</div>
	<div class="menu menu-opt menu-hidden" id="nine">9</div>
	<div class="menu menu-opt menu-hidden" id="ten">10</div>-->
	<div class="menu menu-close menu-hidden" id="close">X</div>
	<div class="menu menu-random menu-hidden" id="random">?</div>
	<div class="menu menu-bottom"></div>
</div>


<!-- <audio id="bubble" src="C:\Users\john0\OneDrive - Anglia Ruskin University\Misc\Web fun\Audio\bubble-sound.mp3" preload="auto"></audio> -->
<!-- <audio id="bubble" src="C:\Users\john0\OneDrive - Anglia Ruskin University\Misc\Web fun\Audio\bubble-sound-2.mp3" preload="auto"></audio> -->
<audio id="bubble" src=".\Audio\bubble-sound-3.wav" preload="auto"></audio>
<!-- <audio id="bubble" src="C:\Users\john0\OneDrive - Anglia Ruskin University\Misc\Web fun\Audio\bubble-sound-4.wav" preload="auto"></audio> -->
<!-- <audio id="bubble" src="C:\Users\john0\OneDrive - Anglia Ruskin University\Misc\Web fun\Audio\bubble-sound-5.wav" preload="auto"></audio> -->